<div class="content-container">
  <h1 class="game-title">Game 2048</h1>
  <button class="button-new-game">New Game</button>
  <div class="cells-container">
    <div
      class="cell"
      *ngFor="let item of cells"
      [class.cell-2]="item === 2"
      [class.cell-4]="item === 4"
      [class.cell-8]="item === 8"
      [class.cell-16]="item === 16"
      [class.cell-32]="item === 32"
      [class.cell-64]="item === 64"
      [class.cell-128]="item === 128"
      [class.cell-256]="item === 256"
      [class.cell-512]="item === 512"
      [class.cell-1024]="item === 1024"
      [class.cell-2048]="item === 2048"
      [class.cell-4096]="item === 4096"
      [class.cell-8192]="item === 8192"
      [class.cell-16384]="item === 16384"
      [class.cell-32768]="item === 32768"
      [class.cell-65536]="item === 65536"
    >
      <span>{{ item }}</span>
    </div>
  </div>
</div>
