* {
  box-sizing: border-box;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
}

body {
  margin: 0;
  padding: 0.5em;
  padding-bottom: 3em;
  background-color: blanchedalmond;
}
